﻿@model TestTaskJuniorProjects.ViewModel.FilmVm

@{
    ViewData["Title"] = "AddOrEdit";
}

<h4>@Model.Name</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" asp-route-isEdit="@ViewBag.isEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID"/>
            <input type="hidden" asp-for="UserId"/>
            <div>
                <label asp-for="ImgUrl"></label><br/>
                <input class="form-control" type="file" id="myFile" asp-for="ImgUrl" accept="image/*"/>
                <span asp-validation-for="ImgUrl" id="error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control"/>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" type="date" class="form-control"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" id="btnSave">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i></a>
</div>

@section Scripts {

    <script> 
    
        const file = $('#myFile')
        const error = $('#error')
        
        file.bind('change', function() {
            
            error.text("")           
        
            const limitSize = 2097152
            const fileSize = this.files[0].size   
                     
            if (fileSize > limitSize){
                error.text("Размер изображения не должен превышать 2MB")
                file.val("");
            }                
          
        });
          
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}