﻿@model TestTaskJuniorProjects.ViewModel.FilmVm

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <img src="~/@Model.ImgUrl" width="30%" height="15%">
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i></a>
    </form>
</div>
