﻿@using TestTaskJuniorProjects.Extensions
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model TestTaskJuniorProjects.ViewModel.FilmVm

@{
    ViewData["Title"] = "Details";
    string userId = this.User.GetUserId();
}

<h2>@Model.Name</h2>

<div>
    <h4>@Model.Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/@Model.ImgUrl" width="30%" height="15%"/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
     @if (userId == @Model.UserId)
     {
         <a asp-action="AddOrEdit" asp-route-id="@Model.ID" asp-route-isEdit="true" class="btn btn-primary"><i class="far fa-edit"></i></a> <span>|</span>
     }
     
     <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i></a>
</div>
