﻿@using Microsoft.AspNetCore.Identity
@using TestTaskJuniorProjects.ViewComponent
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model TestTaskJuniorProjects.ViewModel.FilmViewModel

@{
    ViewData["Title"] = "Home Page";
    string userId = @ViewBag.UserID;
}

@{
    <style scoped>
        .size {
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
        }
        .card-default{
            width: 17rem; 
            float: left;
            margin: 0 5px 0 0px;
        }
        .ground {
          text-align: center;
        }
        .ground .line {
          display: inline-block;
        }
        li{
            text-align: left;
        }
    </style>
}
<div class="row">
    @foreach (var film in Model.Films.Results)
    {
        <div class="card-group my-3">
            <div class="card card-default customers-img">
                <a asp-action="Details" asp-route-id="@film.ID">
                    <img src="~/@film.ImgUrl" height="375px" class="card-img-top">
                </a>
                <div class="card-body" style="padding: 5px">
                    <h4 class="card-title" style="text-align: center">@film.Name</h4>
                    <p class="card-text size" style="color: #005cbf" data-toggle="popover" title="@film.Name" data-content="@film.Description">@film.Description</p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Режисёр: <br> <b>@film.Director</b></li>
                        <li class="list-group-item">Дата выхода: <br> <b>@Convert.ToDateTime(@film.ReleaseDate).ToString("D")</b></li>
                    </ul>
                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@film.ID" class="card-link">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>

                    @if (userId == film.UserId)
                    {
                        <a asp-action="AddOrEdit" asp-route-id="@film.ID" asp-route-isEdit="true" class="card-link">
                            <i class="far fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@film.ID" class="card-link" style="color: red">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    }

                </div>
                <div class="card-footer text-left">
                    <small class="text-muted">Опубликовал: @film.User.Login</small>
                </div>
            </div>
        </div>
    }
</div>

<hr>

<div class="ground">
    <div class="line">
        @(await Component.InvokeAsync<PagerViewComponent>(Model.Films))
    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function() {
       $('[data-toggle="popover"]').popover({
          placement: 'top',
          trigger: 'hover'
       });
    });
    </script>
}