﻿@model TestTaskJuniorProjects.Util.PagedBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

@{
    <style scoped>
        .ground {
          text-align: center;
        }
        .ground .line {
          display: inline-block;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 col-sm-12 items-info">
        Страницы: с @Model.FirstRowOnPage по @Model.LastRowOnPage высего: @Model.RowCount
    </div>
</div>

<div class="ground">
    <div class="line">
        <nav aria-label="Page navigation example">
            @if (Model.PageCount > 1)
            {
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" href="@urlTemplate.Replace("{0}", "1")" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    @for (var i = startIndex; i <= finishIndex; i++)
                    {
                        @if (i == Model.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="selected btn btn-info" href="#">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a>
                            </li>
                        }
                    }

                    <li class="page-item">
                        <a class="page-link" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            }
        </nav>
    </div>
</div>